body {
  
  /* background: linear-gradient(-90deg, #000000,#ffffff);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;
    */
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: linear-gradient(0deg,  #191d1e 50%,#283139 100%);*/
    max-width: 100%;
    
    background-image: url("img/stagB.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

   backdrop-filter: blur(3px) grayscale(80%);
   
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.mb-3 *{
    filter: blur(3px);
}

.mb-3:hover *{
    filter:blur(0px);
    transition: 2s;
    opacity: 1;
    filter: invert(100%)  hue-rotate(352deg) brightness(92%) contrast(119%);
    
}

.card {
    background-color: transparent;
    border: none;
    
}
.card-title{
    color: white;
}
.card-text {
    font-size: 1.5em;
    color: whitesmoke;
}

.card-img{
    opacity: 0.5;
    transition: 8s;
    filter: invert(10%)
    
}


#laserDanger{
    filter: grayscale(100%);
   
}

#laserDanger:hover{
    filter: grayscale(0%);
   
}



audio {
    margin: 0 auto; display: block;
  
}

.navbar {
    background-color: rgba(245, 245, 245, 0.089);

}

#upBtn {
display: none; /* Hidden by default */
  position: sticky; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 99vw;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(125, 24, 192, 0.322); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; 
}

.progress-bar {
    height: 8px;
    background: #7e0bac8e;
    width: 0%;
    width: 100%;
    position: sticky;
    top: 0;
  }


 