body {
 
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: linear-gradient(0deg,  #191d1e 50%,#283139 100%);*/
    max-width: 100%;
    
    background-image: url("img/stagB.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

   backdrop-filter: blur(3px) grayscale(80%);
   
    
}



/*.mb-3 *{
    filter: blur(3px) grayscale(100%);
}

.mb-3:hover *{
    filter:blur(0px);
    transition: 2s;
    opacity: 1;
    filter: invert(100%) grayscale(100%);  
    
}*/



.card {
    background-color: transparent;
    border: none;
    
    
}




.navbar {
    background-color: rgba(245, 245, 245, 0.089);

}

#upBtn {
display: none; /* Hidden by default */
  position: sticky; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 99vw;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(125, 24, 192, 0.322); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; 
}

.progress-bar {
    height: 8px;
    background: #7e0bac8e;
    width: 0%;
    width: 100%;
    position: sticky;
    top: 0;
  }



.card-title{
    color: white;
    filter: blur(3px) grayscale(100%);
}
.card-text {
    font-size: 1.4em;
    color: whitesmoke;
    filter: blur(3px) grayscale(100%);
}
.card-img{
    opacity: 0.5;
    filter: blur(3px) grayscale(100%) invert(10%);
}

.card:hover h5, .card:hover p, .card:hover ul, .card:hover li, .card:hover th, .card:hover tr, .card:hover td { 
    filter: blur(0px);
    transition: 2s;
    transform: skewY(1deg);
}
.card:hover img {
    opacity: 1;
    filter: blur(0px) invert(100%);
    transition: 2s;
    transform: skewY(5deg);
    
    
} 

.card:hover #laser {
    opacity: 1;
    filter: blur(0px) invert(0%);
    transition: 4s;
    transform: skewY(10deg);
} 

#mask.card-img {
    opacity: 0.7;
    filter: blur(0px) grayscale(100%) invert(100%);
}

.card:hover #mask {
    opacity: 1;
    filter: blur(0px) invert(100%);
    transition: 2s;
    transform: skewY(5deg);
} 

#dani h5, #dani p {
    filter: blur(0px);
}

.list-group li {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    filter: blur(4px);
    font-size: 1.4em;
    color: whitesmoke;
}

.table th, .table tr, .table td {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    filter: blur(4px);
    font-size: 1em;
    color: whitesmoke;
   
}