body {
  
  /* background: linear-gradient(-90deg, #000000,#ffffff);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;
    */
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #ffbfbf 0%, #c20000 51%, #200202 75%);
    max-width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.card {
    background-color: transparent;
    border: none;
    
}

.card-text {
    font-size: 1.5em;
}

.card-img{
    opacity: 0.5;
    transition: 3s;
    
}

.card-img:hover {
    transition: 3s;
    opacity: 1;
  
    filter: invert(9%) sepia(97%) saturate(7469%) hue-rotate(352deg) brightness(92%) contrast(119%);
    -webkit-filter: invert(9%) sepia(97%) saturate(7469%) hue-rotate(352deg) brightness(92%) contrast(119%);
 
}

#laserDanger{
    filter: grayscale(100%);
    opacity: 0.1;
}

#laserDanger:hover{
    filter: none;
    opacity: 1;
}

#qlimax {
    filter: invert(100%);
    opacity: 0.1;
}

#qlimax:hover {
    filter: invert(100%);
    opacity: 1;
}

audio {
    margin: 0 auto; display: block;
   display: none;
}

.navbar {
    background-color: rgba(245, 245, 245, 0.089);

}

#upBtn {
    display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(255, 0, 0, 0.322); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; 
}


.fas {
    font-size: 0.7em;
    transition: 8s;
    
}

.fas:hover {
    color: white;
    transition: 1s;
}